/* --- MEDIA QUERIES STANDARDIZZATE --- */

@media all and (max-width: 1690px) {
  html {
    font-size: 17px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1689px) {
  html {
    font-size: 16.5px;
  }
}

@media all and (min-width: 737px) and (max-width: 1279px) {
  html {
    font-size: 16px;
  }
}

@media all and (min-width: 481px) and (max-width: 736px) {
  html {
    font-size: 15.5px;
  }
}

@media all and (max-width: 480px) {
  html {
    font-size: 15px;
  }
}
